.App {
  font-family: sans-serif;
}
@media (min-width: 480px) {
  nav {
    display: block;
  }
}
#navicon {
  height: 50px;
  width: 50px;
  display: inline-block;
}
#lefty {
  display: inline-block;
  padding-top: 2em;
}

nav {
  height: 100px;
  background-color: rgba(161, 161, 161, 0.116);
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
li {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.icon {
  float: left;
}
ul {
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  width: 50px;
  padding: 1em 3em 1em;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

ul:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
